# Virtual environment
.venv/
venv/
env/

# Distribution folders
dist/
build/
*.egg-info/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ruff cache
.ruff_cache/

# Database files 

data/
*.json
